<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
        name="Admin View"
        content="Search Users by ID"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
        crossorigin="anonymous"></script>
        <title>Admin View</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container-fluid d-flex flex-column align-items-center overflow-scroll">
            <h3 class="table-header mt-5 mb-3">User Accounts</h3>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                      <th scope="col">Type</th>
                      <th scope="col">Balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.id }}</td>
                            <td>{{ account.type }}</td>
                            <td>{{ account.amount }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>

            <h3 class="mt-5 mb-3">Transactions</h3>

            <table class="table table-success table-striped">
                <thead>
                    <tr>
                    <th scope="col">Account</th>
                      <th scope="col">Action</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for trans in transactions %}
                        <tr>
                            <td>{{ trans.from_account}}</td>
                            <td>{{ trans.action}}</td>
                            <td>{{ trans.amount }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </body>
</html>